[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pytorch.org"
verify_ssl = true
name = "pytorch"

[packages]
fastapi = "*"
pandas = "*"
scikit-learn = "*"
supabase = "*"
python-dotenv = "*"
uvicorn = {extras = ["standard"], version = "*"}
onnxruntime = "*"
huggingface-hub = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
